*.bak
*.bak[0-9]*
*.rpt
*.xrf
*.svo
*.sft
*.sdo
*.wlf
*.aux
*.log
*.out
*.synctex.gz
*.mem
*.mif
*.ver
*~
modelsim.ini
__pycache__
msim_transcript
rtl_work/
simulation/
.idea
.qsys_edit/
db/
output_files/
incremental_db/
greybox_tmp/
*-eps-converted-to.pdf
*.autosave

*-blx.bib
*.bbl
*.blg
*.run.xml
*svg-tex.pdf
*svg-tex.pdf_tex
.~lock.*#
